.pagination-container {
	display: flex;
	justify-content: center;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;

	border: var(--t);
}

.pagination-container img {
	width: 15px;
	height: 15px;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.6;
	cursor: pointer;
	vertical-align: middle;

	border: var(--t);
}

.pagination-container img:hover {
	opacity: 1;
}

.pagination-container span {
	width: 140px;
	text-align: center;

	border: var(--t);
}
