.emoji-card {
	width: 90px;
	height: 70px;
	max-height: 90px;
	overflow: auto;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #d2d2d2;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;

	border: var(--t);
}

.emoji-card:hover {
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
	transform: scale(1.08);
}

.emoji-card span {
	font-size: 10px;
	display: block;
	text-align: center;

	border: var(--t);
}

span.emoji {
	font-size: 25px;
	line-height: 25px;
}

span.category {
	/* color: #696a6a; */
	/* font-size: 8px; */
	display: none;
}

/* copy icon */
.emoji-card img {
	width: 12px;
	height: 12px;
	margin: 4px;
	opacity: 0.5;
	position: absolute;
	left: 80%;
	bottom: 72%;
	display: none;
	transition: src 1s ease-in-out;
}

/* display image on card hover */
.emoji-card:hover img {
	display: block;
}

.emoji-card img:active {
	opacity: 1;
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
	transform: scale(1.08);
}

@media screen and (min-width: 450px) {
	.emoji-card {
		width: 120px;
	}

	.emoji-card span {
		font-size: 12px;
	}

	span.emoji {
		font-size: 27px;
		line-height: 27px;
	}

	.emoji-card img {
		width: 15px;
		height: 15px;
		left: 81%;
		bottom: 68%;
	}
}
