.input-container {
	position: relative;

	border: var(--t);
}

.input-search {
	height: 30px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	display: block;
	margin: 20px auto;
	width: 80%;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 10px;
	caret-color: gray;
}

.input-search:focus {
	outline: 1px solid yellowgreen;
}
