:root {
	/* --t: 1px solid black; */
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.bg-top {
	background-color: #6495ed;
	height: 50vh;
}

.bg-bottom {
	background-color: #ffffff;
	height: 50vh;
}

.main {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 75%;
	height: fit-content;
	max-height: 750px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 10px 18px #888888;
	z-index: 1;
}

.h1 {
	text-align: center;
	margin-top: 40px;
}

.emoji-card-list {
	margin: 20px;
	margin-bottom: 30px;

	/* responsive list, display-flex and flex-wrap */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
