.card {
	width: 80px;
	height: 60px;
	max-width: 90px;
	max-height: 70px;
	overflow: auto;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #d2d2d2;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
}

.card:hover {
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
	transform: scale(1.08);
}

.card span {
	font-size: 10px;
	line-height: 12px;
	display: block;
	text-align: center;
}

span.emoji {
	font-size: 25px;
	line-height: 25px;
}

/* copy icon */
.card img {
	width: 12px;
	height: 12px;
	margin: 4px;
	opacity: 0.5;
	position: absolute;
	left: 77%;
	bottom: 68%;
	display: none;
}

/* display image on card hover */
.card:hover img {
	display: block;
}

.card img:active {
	opacity: 1;
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
	transform: scale(1.08);
}

@media screen and (min-width: 450px) {
	.card {
		width: 85px;
		height: 65px;
		max-width: 100px;
		max-height: 65px;
	}

	span.emoji {
		font-size: 27px;
		line-height: 27px;
	}

	.card img {
		width: 15px;
		height: 15px;
		left: 75%;
		bottom: 64%;
	}
}

@media screen and (min-width: 580px) {
	.card {
		width: 90px;
		height: 75px;
		max-width: 100px;
		max-height: 80px;
	}

	.card span {
		font-size: 11px;
		line-height: 12px;
	}

	span.emoji {
		font-size: 27px;
		line-height: 27px;
	}

	.card img {
		bottom: 66%;
	}
}

@media screen and (min-width: 768px) {
	.card {
		width: 95px;
		height: 75px;
		max-width: 100px;
		max-height: 80px;
	}

	span.emoji {
		font-size: 28px;
		line-height: 28px;
	}

	.card img {
		bottom: 67%;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		width: 100px;
		height: 80px;
		max-width: 110px;
		max-height: 80px;
	}

	.card span {
		font-size: 12px;
		line-height: 13px;
	}

	span.emoji {
		font-size: 32px;
		line-height: 32px;
	}
}

@media screen and (min-width: 1250px) {
	.card {
		width: 110px;
		height: 90px;
		max-width: 120px;
		max-height: 100px;
	}

	.card span {
		font-size: 13px;
		line-height: 14px;
	}

	span.emoji {
		font-size: 35px;
		line-height: 35px;
	}
}
